$bot-name-color:#8D8B8B;
.lead-aside{

    box-shadow: 0 3px 34px 0 rgba(0,0,0,0.1);
    border: 1px solid #E4E2E2;
    /*    height:100%;
        overflow:scroll;*/
    .green-line{
        width: 100%;
        height:3px;
        background: linear-gradient(25.35deg, #8AB957 0%, #F2F2F2 100%);

    }
    .aside-title{
        background: linear-gradient(-90deg, #FFFFFF 0%, #F3F3F3 100%);
        border-bottom: 1px solid #E4E2E2;
        /*        border-top: 2px solid #8AB957; */
        font-family: $font-roboto;
        font-weight: $font-weight-medium;
    }
    .aside-items{
        .aside-user-icon {
            background-color: #D8D8D8 !important;
            width:24px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            border-radius: 50%;
        }
        .bot-name{
            font-family: $font-roboto;
            font-weight: $font-weight-medium;
        }
        .aside-date {
            span{
                color:$date-color;
            }
        }
        hr{
            height: 3px;
            color: #D8D8D8 !important; 
        }
        .aside-bot-info{

            .fa{
                font-size: 15px;
                display: block;
            }
            .bot-name{
                font-size: 12px;
                display: block;
            }
        }
    }
}

.lead-comments {

    border: 1px solid #E4E2E2;
    box-shadow: 0 3px 34px 0 rgba(0,0,0,0.1);
    /*     height:100%;
        overflow-y:scroll;*/

    .lead-comments-items{
        .bot-counter{
            width:32px;
            height: 26px;
            top:30%;
            right:-2%;
            text-align: center;
            line-height: 26px;
            font-size: 11px;
            position:relative;
            &:after{
                content:'';
                position: absolute;
                right:0;
                bottom:-6px;
                background: transparent;
                border:3px solid #767778;
                border-right-color: transparent;
                border-bottom-color:transparent;
            }
        }
        &:first-of-type{
            border-top: 1px solid #E4E2E2;
        }


        a{
            img{
                display: block;
                width: 100%;
                height:100%;
            }
        }
        .lead-comments-title{
            line-height: 1.3rem;
            max-height: 2.6rem;
            overflow:hidden;
            &:hover{
                opacity: 0.7;
            }
        }
        .aside-date{
            color:$date-color;
            &:hover{
                opacity: 0.7;
            }
        }
        hr{
            height: 2.5px;
            border-color: #D8D8D8; 
        }

    }

}

/*-------------------SINGLE-NEWS page----------------------------*/

aside{
    .news-collection-aside{

        box-shadow: 0 3px 34px 0 rgba(0,0,0,0.1);
        border: 1px solid #E4E2E2;
        .green-line{

        }
        .news-collection-aside-title{
            position: relative;
            background: linear-gradient(-90deg, #FFFFFF 0%, #F3F3F3 100%);
            border-bottom: 1px solid #E4E2E2;
            font-family: $font-roboto;
            font-weight: $font-weight-medium;
            &:before{
                content:"";
                position: absolute;
                left:0;
                top:0;
                width: 100%;
                height:3px;
                background: linear-gradient(25.35deg, #8AB957 0%, #F2F2F2 100%);
            }
        }
        .aside-date{
            color:$date-color;  
            font-weight: $font-weight-light;
            margin-bottom: 0.8rem;
        }
        .aside-news-item-title{
            line-height: 1.2rem;
            &:hover{
                opacity: 0.7;
            }
        }
        .aside-item-group {
            .aside-item{
                border-bottom: 1px solid #D8D8D8;
            }
            .aside-item-text{
                line-height: 1.1rem;
                margin-bottom: 0.5rem;
            }
            .aside-number{
                font-size: 1.57rem;
                font-weight: $font-weight-bold;
            }
            .bot-name{
                color:$bot-name-color;
                margin-bottom: 0.5rem;
                margin-top:0.5rem;
            }
        }
    }
    .news-item-article, {
        .bot-counter{
        top:30%;
        right:-2%;
        }
        
    }
    .news-item{
         .bot-counter{
         
        top:47%;
        right:5%;
        &:after{
             content:'';
            position: absolute;
            right:0;
            bottom:-6px;
            background: transparent;
            border:3px solid #767778;
            border-right-color: transparent;
            border-bottom-color:transparent;    
        }
        }
    }
}
