$date-color:#7C7C7C;
$body-bg: #F2F2F2;
html{
    font-size: 14px;
}
body{
    background: $body-bg;
    font-family: $font-roboto;
}

img{
    max-width: 100%;
}
a:hover {
    text-decoration: none;
}

// Placeholder for image


.img-holder{
    position: relative;
    background: #ccc url('assets/logo-small.png') no-repeat center center;
    background-size: 50px auto;
    overflow:hidden;
    display:block;
    &:after{
        content: '';
        display: block;;
        width: 100%;
    }
    
    &.size-1by1{
        &:after{
            padding-top: 100%;
        }
    }
    &.size-4by3{
        &:after{
            padding-top: 75.27%;
        }
    }
    &.size-3by2{
        &:after{
            padding-top:66.62%;
        }
    }
    &.size-2by1{
        &:after{
            padding-top:53.75%;
        }
    }
    &.size-16by9{
        &:after{
            padding-top: 56.25%;
        }
    }
    
    img{
        display: block;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
    }
    
}

