
.lead-aside{

    box-shadow: 0 3px 34px 0 rgba(0,0,0,0.1);
    border: 1px solid #E4E2E2;

    .aside-title{
        background: linear-gradient(-90deg, #FFFFFF 0%, #F3F3F3 100%);
        border-bottom: 1px solid #E4E2E2;
        font-family: $font-roboto;
        font-weight: $font-weight-medium;
        position: relative;
        &:before{
            content:'';
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height:3px;
            background: linear-gradient(25.35deg, #8AB957 0%, #F2F2F2 100%);
        }
    }
    .aside-items{
        .aside-user-icon {
            background-color: #D8D8D8 !important;
            width:24px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            border-radius: 50%;
        }
        .bot-name{
            font-family: $font-roboto;
            font-weight: $font-weight-medium;
        }
        .aside-date {
            span{
                color:$date-color;
            }
        }
        hr{
            height: 3px;
            color: #D8D8D8 !important; 
        }
        .aside-bot-info{

            .fa{
                font-size: 15px;
                display: block;
            }
            .bot-name{
                font-size: 12px;
                display: block;
            }
        }
    }
}

.lead-comments {

    border: 1px solid #E4E2E2;
    box-shadow: 0 3px 34px 0 rgba(0,0,0,0.1);
    .nav-item{     
        .active{
            position:relative;
            height:100%;
            &:before{
                content:'';
                position: absolute;
                top:0;
                left:0;
                width: 100%;
                height:3px;
                background: linear-gradient(25.35deg, #8AB957 0%, #F2F2F2 100%) !important;  
            }
        }
    }
    .lead-comments-items{
        .bot-counter{
            width:32px;
            height: 26px;
            top:30%;
            right:-2%;
            text-align: center;
            line-height: 26px;
            font-size: 11px;
            position:relative;
            &:after{
                content:'';
                position: absolute;
                right:0;
                bottom:-6px;
                background: transparent;
                border:3px solid #767778;
                border-right-color: transparent;
                border-bottom-color:transparent;
            }
        }
        &:first-of-type{
            border-top: 1px solid #E4E2E2;
        }

        a{
            img{
                display: block;
                width: 100%;
                height:100%;
            }
        }
        .lead-comments-title{
            line-height: 1.3rem;
            max-height: 2.6rem;
            overflow:hidden;
            &:hover{
                opacity: 0.7;
            }
        }
        .aside-date{
            color:$date-color;
            &:hover{
                opacity: 0.7;
            }
        }
        hr{
            height: 2.5px;
            border-color: #D8D8D8; 
        }

    }

}

/*---------------NEWS-COLLECTION section starts here-------------------------*/
$bot-name-color:#8D8B8B;
.news-collection-section{
    .news-collection-aside{

        box-shadow: 0 3px 34px 0 rgba(0,0,0,0.1);
        border: 1px solid #E4E2E2;
    
        .news-collection-aside-title{
            background: linear-gradient(-90deg, #FFFFFF 0%, #F3F3F3 100%);
            border-bottom: 1px solid #E4E2E2;
            font-family: $font-roboto;
            font-weight: $font-weight-medium;
            position: relative;
            &:before{
                content:"";
                position: absolute;
                top:0;
                left:0;
                width: 100%;
                height:3px;
                background: linear-gradient(25.35deg, #8AB957 0%, #F2F2F2 100%);
            }

        }
        .aside-news-item-date, .aside-date{
            color:$date-color;  
            font-weight: $font-weight-light;
        }
        .aside-news-item-title{
            line-height: 1.2rem;
            &:hover{
                opacity: 0.7;
            }
        }
        .aside-items {
            .aside-item-title{
                line-height: 1.1rem;
            }
            .aside-number{
                font-size: 1.57rem;
                font-weight: $font-weight-bold;
            }
            .bot-name{
                color:$bot-name-color;
            }
        }
    }
    /* second- part news-item*/
    .news-item{

        img{
            display: block;
            max-width:100%;

        }

        .bot-counter{
            width:32px;
            height: 26px;
            top:80%;
            right:1%;
            text-align: center;
            line-height: 26px;
            font-size: 11px;
            position:relative;
            &:after{
                content:'';
                position: absolute;
                right:0;
                bottom:-6px;
                background: transparent;
                border:3px solid #767778;
                border-right-color: transparent;
                border-bottom-color:transparent;
            }
        }

        box-shadow: 0 3px 34px 0 rgba(0,0,0,0.1);
        .news-item-detail{
            a{ 
                font-weight: $font-weight-normal;
                line-height: 1.4rem;
                max-height: 3rem;
                overflow: hidden;
                &:hover{
                    color:rgba(0,0,0,0.6) !important;
                }
            }
            .article-date{
                color:$date-color;            
            }
        }
    }
}